.nav-link {
    font-weight: 600 !important;
    &.active,
    &.show {
      color: #5F77FF !important
    }
}

.logo-wrapper{
    margin-right: 100px;
}

.pageContainer{
    /* padding: 30px; */
    width: 90%;
    margin: auto;
}

.column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.default-img{
    width: 100%;
    height: 100%;
}

.button-structure{
    gap: 0px;
    border-radius: 30px;
}

.primary-button{
    font-family: Jost;
    font-size: 12px;
    font-weight: 500;
    color: white;
    padding: 5px 10px;
    line-height: 28.9px;
    background-color: #5F77FF;
    cursor: pointer;
}

.secodary-button{
    font-family: Jost;
    font-size: 12px;
    border: 1px solid #1E1E1E;
    font-weight: 500;
    padding: 5px 10px;
    line-height: 28.9px;
    cursor: pointer;
}

.main-section-img{
    width: 100%;
    height: 100%;
}

.section-heading{
    font-family: Jost;
    letter-spacing: -0.03em;
    text-align: center;
}

.detail-subheading{
    opacity: 60%;
    font-weight: 400 !important;
    width: 100%;
}

.primary-font{
    font-size: 22px;
    font-weight: 500;
}

.secondary-font{
    font-size: 10px;
    font-weight: 600;
}

.teritary-font{
    font-size: 20px;
    font-weight: 500;
}

.quaternary-font{
    font-size: 30px;
    font-weight: 500;
}

.dark-font{
    color: #1E1E1E;
}

.light-font{
    color: #5F77FF;
}

.white-font{
    color: #FFFFFF;
}

.margin-small{
    height: 10px;
}

.margin-medium{
    height: 20px;
}

.margin-large{
    height: 30px;
}

.margin-xLarge{
    height: 60px;
}

.milestones-item-container{
    margin: 0px 10px;
}

.milestones-subHeading{
    font-size: 10px;
    font-weight: 500;
    opacity: 33%;
}

.footer-section{
    background-color: #262B41;
    padding: 10px;
}

.footer-logo-wrapper{
    width: 100px;
}

/* media queries */

@media (min-width: 768px) {
    .primary-font {
        font-size: 30px;
    }
    .secondary-font{
        font-size: 14px;
    }
    .teritary-font {
        font-size: 24px;
    }
    .margin-small{
        height: 10px;
    }
    .margin-medium{
        height: 20px
    }
    .pageContainer{
        width: 90%;
    }
}

@media (min-width: 992px) {
    .secondary-font {
        font-size: 20px;
    }
    .margin-large{
        height: 50px;
    }    
}

@media (min-width: 1200px) { 
    .margin-large{
        height: 60px;
    }  
    .margin-xLarge{
        height: 80px;
    }    
    .primary-font {
        font-size: 50px;
    }
    .teritary-font {
        font-size: 40px;
    }
    .quaternary-font{
        font-size: 60px;
        font-weight: 500;
    }
    .primary-button {
        font-size: 17px;
        padding: 10px 20px;
    }
    .secodary-button {
        font-size: 17px;
        padding: 10px 20px;
    }
    .main-section-img-wrapper{
        width: 1000px;
    }
    .milestones-subHeading {
        font-size: 14px;
    }
}